@page
@model KE03_INTDEV_SE_1_Base.Pages.LoginModel
@{
    ViewData["Title"] = "Inloggen";
}
<h1>@ViewData["Title"]</h1>

<p>Selecteer een gebruiker om in te loggen.</p>

<form method="post">
    <div>
        @foreach (var c in Model.Customers)
        {
            <div>
                <input type="radio" asp-for="SelectedCustomerId" name="SelectedCustomerId" value="@c.Id" id="user-@c.Id" />
                <label for="user-@c.Id">@c.Name (@c.Address)</label>
            </div>
        }
    </div>

    <button type="submit">Login als geselecteerde gebruiker</button>
</form>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p style="color:red">@Model.ErrorMessage</p>
}
